#shows {
  /* text-align: left; */
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  background: white;
  margin: 1rem 0;
  border-radius: 1rem;
}
#shows-page > h2 {
  text-align: left;
}
#shows-page {
  background: #f6f6f6;
  padding: 2rem;
}
#shows-header {
  background: white;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 1rem 0;
  border-radius: 1rem;

  /* background: red; */
}
#dates {
  display: flex;
  gap: 1rem;
}

#filter {
  display: flex;
  gap: 1rem;
}
