#movie-card {
  width: 20rem;
  height: 25rem;
  border-radius: 8px;
  border: 1px solid lightgray;
  /* padding: 1rem; */
  /* background: #000; */
  overflow: hidden;
}
#movie-card-image {
  height: 70%;
}
#movie-card-image img {
  width: 100%;
  margin: auto;
  height: auto;
}
#movie-card-content {
  display: flex;
  padding: 0 1rem;
  height: 30%;
  flex-wrap: wrap;
  align-items: end;
}
#movie-card-content > div {
  text-align: left;
  /* background: #000; */
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  /* margin: 0.5rem; */
}
#movie-card-content > section {
  width: 100%;
  padding: 0.5rem 0;
}

#movie-card-content > div > div {
  /* background: #000; */
  font-weight: bold;
  width: 100%;
}
